@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  * {
      box-sizing: border-box;
  }
  
  html {
      height: 100%;
  }
  
  body {
      margin: 0px;
      height: 100%;
      background-color: #3f51b5;
  }
  
  header {
      text-align: center;
  }
  
  h1 {
      font-family: 'Comfortaa', sans-serif;
      margin: 0px;
      padding: 10px;
      color: #4056b5;
      background-color: hsla(51, 96% , 80%, 1);
      border-radius: 10px;
  }
  
  div#change_username, section#input_zone {
     
      height: 75px;
  }
  
  div#change_username {
      height: 30px;
      display: inline-block;
      margin:12px 0px;
      background-color:#3f51b5;
      outline: none;
  }
  
  section#chatroom {
      /* border: 5px inset #1c006b; */
      height: calc(100% - 150px);
      overflow: auto;
  }
  
  section#input_zone {
      height: 75px;
      text-align: center;
      /* background-color: #BCA9F5; */
      padding:10px 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .vertical-align {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }
  
  input#username {
      font-family: 'Comfortaa', sans-serif;
      height: 30px;
      border-radius: 10px;
      border: none;
  }
  
  input#message {
      display: inline-block;
      width: 100%;
      height: 50px;
      font-family: 'Comfortaa', sans-serif;
      font-size: 2vh;
      margin-right: 5px;
      background-color: #efefef;
  }
  
  button#send_message {
      display: inline-block;
      height: 70%;
      width: 10%;
  }
  
  p.message {
      margin: 0px;
      width: fit-content;
      /* height: 40px; */
      font-size: 2vh;
      font-family: 'Comfortaa', sans-serif;
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
  }
  
  .message:nth-child(even) {
      background-color: #B5A33f;
      color: white;
      font-size: 18px;
      width:fit-content;
  }
  
  .message:nth-child(odd) {
      background-color: #A33fb5;
      color:white;
      font-size: 18px;
      width: fit-content;
  }

  header-test {
    display: flex;
    flex-direction: row;
}

.header-test {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
}

section#chatroom {}

input#message {
    height: 100%;
    border-radius: 10px;
    border: 0px;
    font-size: 16px;
    padding: 0px 10px;
}

button#send_message {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: 0px;
    margin: 0px 0px;
    color: #4056b5;
    font-size: 7px;
}

button#send_username {
    height: 30px;
    border: none;
    border-radius: 10px;
}

i {
    color: white;
    padding-left: 10px;
}

input#message:focus {
    border: none;
    outline: none;
}

section#chatroom::-webkit-scrollbar {
    display: none;
}

section#feedback {
    position: fixed;
    background: #4056b5;
}

input#username:focus {
    border: none;
    outline: none;
}